d-i debian-installer/locale string en_US

d-i keyboard-configuration/xkb-keymap select us

### Network 

d-i netcfg/choose_interface select auto

d-i netcfg/disable_autoconfig boolean true

d-i netcfg/get_ipaddress string 10.0.0.1
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 10.0.0.254
d-i netcfg/get_nameservers string 1.1.1.1
d-i netcfg/confirm_static boolean true

d-i netcfg/get_hostname string dockerbox
d-i netcfg/get_domain string local

d-i netcfg/wireless_wep string

### Mirror settings

d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Account setup

d-i passwd/root-login boolean false

d-i passwd/user-fullname string Debian dockerbox
d-i passwd/username string dockerbox
d-i passwd/user-password password dockerbox
d-i passwd/user-password-again password dockerbox

### Clock and time zone setup

d-i clock-setup/utc boolean true

d-i time/zone select UTC

d-i clock-setup/ntp boolean true

### Partitioning

d-i partman-auto/disk string /dev/vda /dev/vdb
d-i partman-auto/method string regular

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-auto/expert_recipe string                         \
      boot-root ::                                            \
              2560 2560 2560 ext4                             \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
		      device{ /dev/vda } 		      \
              .                                               \
              64 512 300% linux-swap                          \
                      method{ swap } format{ }                \
              .                                               

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Apt setup

d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/disable-cdrom-entries boolean true

d-i apt-setup/local0/repository string https://download.docker.com/linux/debian bookworm stable
d-i apt-setup/local0/comment string docker server
d-i apt-setup/local0/key string https://download.docker.com/linux/debian/gpg

### Package selection

tasksel tasksel/first multiselect standard

popularity-contest popularity-contest/participate boolean false

### Boot loader installation

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev  string /dev/vda

### Finishing up the installation

d-i finish-install/reboot_in_progress note

#### Advanced options

d-i preseed/late_command string \
	in-target echo ';' | sfdisk /dev/vdb; \
	in-target mkfs.ext4 /dev/vdb1; \
	echo "UUID=$(blkid -s UUID -o value /dev/vdb1) /var/lib/docker ext4 rw 0 0" >> /target/etc/fstab ;\
	in-target mkdir /var/lib/docker ;\
	in-target mount /dev/vdb1 /var/lib/docker ;\
	chroot /target apt update; \
	apt-install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin;

